// ?Fonts
$pt_serif: 'PT Serif', serif;
$poppins: 'Poppins', sans-serif;
$montserrat: 'Montserrat', sans-serif; 


// ?Colors
$white: #FAFAFA;
$black: #000000;
$gray: #A9A9A9;
$special_color: #EE402C;

// ?Screens

$deskto1: 1440px;
$deskto2: 1366px;
$deskto3: 1068px;
$mobile: 375px;