html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
    -o-box-sizing: inherit;
    -ms-box-sizing: inherit;
    -webkit-box-sizing: inherit;
}

img {
    width: 100%;
}

body {
    background-color: $white;
}

.container {
    width: 100%;
    max-width: $deskto1;
    margin: 0 auto;
}

aside {
    display: flex;
    width: 69%;
    margin: 4rem auto;
    .box-left {
        width: 60%;
        h1 {
            font-family: $pt_serif;
            font-weight: 700;
            font-size: 36px;
            color: $black;
        }
    }
    .box-right {
        width: 40%;
        h3 {
            font-family: $poppins;
            font-weight: 600;
            font-size: 18px;
            text-transform: uppercase;
            color: $black;
        }
        p {
            font-family: $poppins;
            font-size: 18px;
            font-weight: 400;
            font-size: 18px;
        }
    }
}

section {
    width: 72.5%;
    margin: 0 10rem 10rem;
    height: 68rem;
    .photos {
        display: flex;
        justify-content: space-between;
        .column {
            width: 264px;
            height: 383px;
            .photo {
                display: flex;
                width: 264px;
                height: 383px;
                margin: 50px;
                margin-bottom: 8rem;
                .left {
                    img {
                        height: 341px;
                        width: 238px;
                    }
                    .name {
                        font-family: $poppins;
                        font-weight: 600;
                        font-size: 18px;
                        color: black;
                    }
                }
                .right {
                    .profession {
                        font-family: $pt_serif;
                        font-weight: 400;
                        font-size: 12px;
                        text-transform: uppercase;
                        position: absolute;
                        margin-left: 25px;
                        margin-top: 1px;
                        transform: rotate(90deg);
                        transform-origin: 0 0;
                    }
                }
            }
        }
        .new_column {
            display: none;
        }
        .column_down {
            margin-top: 8rem;
        }
    }
}

footer {
    text-align: center;
    font-family: $montserrat;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 3rem;
    color: $gray;
    p {
        a {
            color: $special_color;
            text-decoration: none;
        }
    }
}

// Media Quries
@media screen and (max-width: $deskto2) {
    aside {
        width: 70%;
        .box-left {
            width: 55%;
        }
    }

    section {
        margin: 0 9rem 10rem;
    }
}

@media screen and (max-width: $deskto3) {
    aside {
        width: 75%;
        .box-right {
            width: 60%;
        }
    }

    section {
        width: 80%;
        margin: 0 4.1rem 8rem;
    }
}

@media screen and (max-width: $mobile) {
    aside {
        width: 100%;
        flex-direction: column;
        padding: 0.5rem;
        margin: 0 auto;
        .box-left {
            width: 100%;
        }
        .box-right {
            width: 90%;
            p {
                font-size: 14px;
            }
        }
    }

    section {
        margin: 2rem 0.8rem 1rem;
        width: 100%;
        height: 60rem;
        .photos {
            .column {
                display: none;
            }
            .new_column {
                display: block;
                .photo {
                    margin: 0 0 -5rem 0;
                    width: 154px;
                    .left {
                        img {
                            width: 138.72px;
                            height: 209px;
                        }
                    }
                    .right {
                        .profession {
                            margin-left: 15px;
                            font-size: 10px;
                            width: 100px;
                        }
                    }
                }
            }
            .column_down {
                margin-top: 3rem;
            }
        }
    }
}
